@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 90vw;
	height: 350px;
	padding: .9rem;
	background-color: hsla(0, 100%, 0%, .5);
	border-radius: .85rem;
	position: relative;
}
